{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 50.3714122,
    "longitude": -4.1424451,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP",
    "country": "GB",
    "language": "en-GB"
  }
}